mat-card{
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.loading-spinner{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
}
